<form [formGroup]="blogForm" (ngSubmit)="onSubmit()" class="max-w-md mx-auto bg-white rounded px-8 pt-6 pb-8 mb-4">
    <div class="mb-4">
      <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Título</label>
      <input type="text" formControlName="title" id="title" [class.border-red-500]="(blogForm.get('title')?.touched || submitted) && blogForm.get('title')?.invalid" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-4">
      <label for="author" class="block text-gray-700 text-sm font-bold mb-2">Autor</label>
      <input type="text" formControlName="author" id="author" [class.border-red-500]="(blogForm.get('author')?.touched || submitted) && blogForm.get('author')?.invalid" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
    </div>
    <div class="mb-6">
      <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Contenido</label>
      <textarea formControlName="content" id="content" rows="3" [class.border-red-500]="(blogForm.get('content')?.touched || submitted) && blogForm.get('content')?.invalid" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Guardar
      </button>
    </div>
  </form>
  